<h1>Bonjour, Bienvenue sur la plateforme Promitron</h1>

<p>
    Votre compte a été crée sur la plateforme Promitron.
    Ci-dessous vous trouverez vos informations de connexion.
</p>

<p>
    NB: Ces informations sont personnelles et confidentielles
    et engage votre responsabilité sur les actions effectuées sur la plateforme Promitron.
</p>

<p>
    Login: {{ login }} <br>
    Mot de passe : {{ password }}
</p>
